@font-face {
    font-family: 'Poppins';
    src: url('../fuentes/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DM_Sans';
    src: url('../fuentes/DM_Sans/static/DMSans_18pt-Light.ttf') format('truetype');
}

.hidden-menu {
    background-color: transparent;
    border: none;
}

::selection {
    background-color: lightsteelblue; 
    color: black;
}

header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 1%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    position: fixed;

    .menu {
        z-index: 6;
        position: relative;
    }

    .busqueda {
        .contenedor_busqueda {
            display: flex;
            margin-right: 5%;

            input[type="text"], input[type="submit"] {
                border-radius: 5px;
                border: none;
            }
            input[type="text"] {
                background-color: #ECECEC;
                padding-left: 2%;
                padding-right: 2%;
                height: 4.8vh;
                transition: width 0.3s ease-out;

                @media (min-width: 1000px) {
                    width: 100vh;
                }
                @media (max-width: 950px) {
                    width: 40vh;
                }
                @media (max-width: 900px) {
                    width: 40vh;
                }
                @media (max-width: 800px) {
                    width: 39vh;
                }
                @media (max-width: 470px) {
                    width: 30vh;
                }
                @media (max-width: 420px) {
                    width: 26vh;
                }
                @media (max-width: 290px) {
                    width: 20vh;
                }
            }
            input[type="submit"] {
                font-family: Poppins;
                color: white;
                width: 20vh;
                background-color: black;
                height: 5vh;
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

                @media (max-width: 1200px) {
                    width: 15vh;
                }
                @media (max-width: 800px) {
                    width: 12vh;
                }
            }
            input[type="submit"]:hover {
                color: black;
                background-color: lightskyblue;
            }
        }
        @media (max-width: 950px) {
            margin-right: 2%;
        }
        @media (max-width: 800px) {
            margin-right: 2%;
        }
        @media (max-width: 470px) {
            margin-right: 5%;
        }
        @media (max-width: 420px) {
            margin-right: 2%;
        }
        @media (max-width: 290px) {
            margin-right: 12%;
        }
    }
}

.sugerencias {
    font-family: DM_Sans;
    border-radius: 20px;
    width: 100%;
    max-width: 95vh;
    margin: 0.5% auto;
    text-align: left;
    position: absolute;
    background-color: white;
    border-top: none;
    z-index: 10;
    overflow: hidden;
}

.sugerencias div {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sugerencias div:hover {
    background-color: lightcyan;
}

.menu-mostrado {
    top: 0;
    position: fixed;
    opacity: 95%;
    background-color: black;
    width: 40%;
    height: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    left: 0;
    transition: left 0.6s ease-in-out, width 0.5s ease-in-out;

    .logo {
        justify-content: end;
        display: flex;
        margin-top: 3%;
        margin-right: 2%;
        z-index: 4;
    }

    .imagen-logo {
        margin-top: 10%;
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
        flex-direction: row;

        .menu-icon {
            max-width: 300px;
        }
    }

    .menu-items {
        margin-top: 5%;
        line-height: 2;
        display: flex;
        flex-direction: column;
        max-width: auto;

        @media (max-width: 600px) {
            margin-left: 5%;
        }
    }
    
    .list-item {
        margin-left: 10%;
        font-family: Poppins;
        font-size: 150%;
        transition: all 0.3s ease-in-out;
    }

    .list-item:hover {
        color: aqua;
        font-family: Poppins;
        transform: translateX(10px)
    }

    a:link, a:visited {
        text-decoration: none;
        color: white;
    }

    ul {
        list-style-type: none;
    }

    p {
        padding-top: 3%;
        display: flex;
        justify-content: center;
        position: absolute;
        color: white;
        font-family: DM_Sans, Arial, Helvetica, sans-serif;
        font-size: 85%;
        width: 100%;
    }
    @media (max-width: 1000px) {
        width: 60%;
        transition: left 0.5s ease-in-out, width 0.5 ease-in-out;
    }
    @media (max-width: 600px) {
        width: 100%;
        transition: left 0.5s ease-in-out, width 0.5 ease-in-out;
    }
}

.menu-oculto {
    @extend .menu-mostrado;
    left: -100%;
}

::-webkit-scrollbar {
    width: 5px; 
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 95); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}

#submitBtn[disabled] {
    color: black;
    background-color: #ECECEC;
}

.hidden-content-be {
    display: none;
}


.Menu_libro {
    padding-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    @media (max-width: 1200px) {
        margin-top: 12%;
    }

    .apartado_libro {
        margin-left: 2%;
        display: flex;
        flex-direction: row;
        width: 100%;

        @media (max-width: 1200px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 0;
        }

        .portada_libro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            img {
                border-radius: 50%;
                max-width: 350px;
                min-width: 350px;
                max-height: 350px;
                min-height: 350px;
                align-self: flex-start;
                object-fit: cover;
            }
            .profile {
                margin-top: 15%;
                border-radius: 50%;
            }
        }
        .informacion_libro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.2;
            margin-left: 5%;
            margin-right: 4%;

            p {
                font-size: 120%;
                font-family: DM_Sans;
            }
            .other-t {
                font-size: 300%;
            }
            h1 {
                font-family: Poppins;
            }

            h2 {
                font-family: Poppins;
            }
            h3 {
                font-family: Poppins;
            }
        }
    }
}